body {
	background-image: url("https://i.ytimg.com/vi/MVbeoSPqRs4/maxresdefault.jpg");
	background-size: cover;
}
.container1 {
	text-align: center;
	background-color: rgba(118, 118, 118, 0.7);
	width: 650px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border-radius: 20px;
}
h1 {
	color: #000097;
	font-family: 'Aclonica';font-size: 40px;
}
#enter-bar {
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 20px;
	color: #7c0101;
	font-family: 'Advent Pro';
}